# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.venv/
venv/
env/

# 日志
log/
*.log

# 环境文件
.env
.env.*

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
Dockerfile
.dockerignore

# OS
.DS_Store
Thumbs.db

# Alembic 缓存
alembic/__pycache__/
