:root {
  --header-height: 40px;

  color: #050505;
  --body-bg: #f5f7fa;
  --scrollbar-bg: #c1c1c175;

  --detail-bg: #ffffff !important;

}

.theme-switch {
  --el-switch-on-color: #454947 !important;
  --el-switch-off-color: #dfdddd !important;
  --el-color-white: #000;
}

.dark {

  color: white;
  --body-bg: #141414;
  --scrollbar-bg: #97949475;
  --detail-bg: #1a1a1a !important;

}

* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  -webkit-tap-highlight-color: transparent;
  font-variation-settings: normal;
  // line-height: 1.5;
  tab-size: 4;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 1px;
}

.btn-icon {
  width: 18px;
  height: 18px;

}



.el-button+.el-button {
  margin-left: 0 !important;
}

.pure_dialog {
  --el-dialog-width: 50% !important;
  padding: 10px !important;

  .el-dialog__header {
    display: none !important;
  }

  .el-dialog__footer {
    padding: 0 !important;
  }
}

.admin_detail_dialog {
  width: 50% !important;
  padding: 10px !important;

  .el-dialog__header {
    display: none !important;
  }

  .el-dialog__footer {
    padding: 0 !important;
  }
}

// chat